<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="configFileFolder" value="Files" />
		<add key="configFileName" value="profiles.txt" />
		<add key="hostsFilePath" value="C:/Dev/hosts.txt" />
	</appSettings>
</configuration>